<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Notas</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body class="bg-light">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">Sistema de Notas</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/configurar' %}active{% endif %}" href="/configurar">Configurar</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/notas' %}active{% endif %}" href="/notas">Informes</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/seguimiento' %}active{% endif %}" href="/seguimiento">Seguimiento</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>